@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Patrick+Hand+SC&display=swap');
:root {
    --primary-color: #24d4e4; 
    --secondary-color: #f8820b;
    --accent1-color: #a2a79e;
    --accent2-color: #ffffff;

    --heading-font: 'font-family: 'Montserrat', sans-serif;', serif; 
    --paragraph-font: 'font-family: 'Patrick Hand SC', cursive;', serif;
    
    --nav-background-color: #24d4e4;
    --nav-link-color: #a2a79e;
    --nav-hover-link-color: #f8820b;
    --nav-hover-background: #ffffff;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px ;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: dotted;
    padding: 1rem;
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(var(--nav-hover-link-color));
}