@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');
:root {
    --primary-color: #006989;
    --secondary-color: #57a773;
    --accent1-color: #ffc857;
    --accent2-color: #ffffff;

    --heading-font: "Shadows Into Light";
    --paragraph-font: Montserrat, Helvetica, sans-serif;
    
    --nav-background-color: #57a773;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ffc857;
    --nav-hover-background: #006989;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px ;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}
h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
/* #hero-img {
    width: 100%;*/
header {
    padding: 20px;
    background-color: var(--primary-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    text-align: center;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: dotted;
    padding: 1rem;
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-link-color);
}
