@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');
:root {
    --primary-color: #006989;
    --secondary-color: #57a773;
    --accent1-color: #ffc857;
    --accent2-color: #ffffff;

    --heading-font: "Shadows Into Light";
    --paragraph-font: Montserrat, Helvetica, sans-serif;
    
    --nav-background-color: #57a773;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ffc857;
    --nav-hover-background: #006989;
}
.logo {
    width: 160px;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px ;
    padding: 3em;
    text-align: center;
    margin: 0 auto;
}
.hero {
    position: relative;
    width: 100%;
    height: auto;
}
.overlay-text {
    position: absolute;
    bottom: 9.2em;
    right: 45%;
}
.overlay-text-p{
    position: absolute;
    top: 12em;
    right: 40%;
    left: 28%;
}
article img {
    max-width: 12%;
    position: absolute;
    bottom: 50%;
    left: 64%;
}
article p {
    font-family: var(--paragraph-font) ;
    color: var(--accent2-color);
    font-size: large;
}
.middle {
    font-family: var(--paragraph-font);
    color: #006989;
    width: 40%;
   /* bottom: 5em;*/
}
.middle img {
    position: relative;
    top: 6em;
    left: 73%; 
    width: 300px;
}
.overlay-text-two {
    position: absolute;
    top: 7.7em; 
    left: 45%;
}
.overlay-text-pp{
    position: relative;
    bottom: 4em;
    right: 20%;
}
.overlay-text-pv{
    position: relative; 
    bottom: 10em;
    left: 170%;
} 
h1 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 50px;
}
.overlay-text-three {
    position: absolute;
    top: 14em; 
    left: 37%;
}
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 50px;
}
p {
    bottom: 4em;
    right: 20%;
}
nav {
    background-color: var(--accent2-color);
    font-size: 1.5rem;
    display: flex;
    /*text-align: center;*/
    /*padding-left: 80px*/
}
nav a {
    display: flex;
    color: var(--primary-color);
    min-width: 100px;
    padding: 25px 25px;
} 
nav a:hover {
    color: var(--nav-background-color);
    background-color: var(--accent2-color);
}
.adventure {
    display: flex; 
    flex-direction: horizontal; 
}
.one {
    position: relative;
    top: 6em; 
    right: 10%; 
}
.adventure img {
    width: 115px;
    height: 100px;
    right: 140%;

}
footer p {
    font-family: var(--paragraph-font);
    color: #006989;
    width: 80%;
    position: relative;
    top: 95px;
    left: 330px;
    margin-top: 60px;
}
footer img {
    width: 50px; 
    margin-top: 30px;
} 