@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');
:root {
    --primary-color: #006989;
    --secondary-color: #57a773;
    --accent1-color: #ffc857;
    --accent2-color: #ffffff;

    --heading-font: "Shadows Into Light";
    --paragraph-font: Montserrat, Helvetica, sans-serif;
    
    --nav-background-color: #57a773;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ffc857;
    --nav-hover-background: #006989;
}
.logo {
    width: 160px;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px ;
    padding: 3em;
    text-align: center;
    margin: 0 auto;
}
.hero {
    position: relative;
    width: 100%;
    height: auto;
    top: 4em; 
}
.hero-2 {
    position: relative;
    width: 110%;
    bottom: 4em;
    right: 5%; 
}
.hero-3 {
    position: relative;
    width: 100%;
    top: 2em;
    right: 3.5%; 
}
.overlay-text {
    position: absolute;
    bottom: 7em;
    right: 45%;
    font-size: 55px;
    font-family: var(--heading-font);
    color: #ffc857;
} 
.overlay-text-p{
    position: absolute;
    top: 18em;
    right: 40%;
    left: 28%;
}
.overlay-text-h {
    position: absolute;
    top: 2em;
    right: 30%;
    font-size: 55px;
    font-family: var(--heading-font);
    color: #ffc857;
} 
article img {
    max-width: 15%;
    position: absolute;
    bottom: 30%;
    left: 62%;
}
article p {
    font-family: var(--paragraph-font) ;
    color: var(--accent2-color);
    font-size: large;
}
.middle {
    font-family: var(--paragraph-font);
    color: #006989;
    width: 40%;
   /* bottom: 5em;*/
}
.middle img {
    position: relative;
    top: 30em;
    left: 95%; 
    width: 300px;
}
.overlay-text-two {
    position: absolute;
    top: 15.5em; 
    left: 47%;
}
.overlay-text-pp{
    position: relative;
    top: 20em;
    right: 20%;
}
.overlay-text-pv{
    position: relative; 
    top: 14em;
    left: 170%;
} 
.overlay-t-c {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 50px;
    position: relative; 
    bottom: 2em; 
    left: 4.5%; 
}
.overlay-text-three {
    position: absolute;
    top: 30em; 
    left: 37%;
}
h1 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 55px;
    position: relative;
    bottom: 2em; 
}
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 50px;
}
p {
    bottom: 4em;
    right: 20%;
}
nav {
    background-color: var(--accent2-color);
    font-size: 1.5rem;
    display: flex;
    /*text-align: center;*/
    /*padding-left: 80px*/
}
nav a{
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
    min-width: 70px;
    padding: 25px 25px;
} 
nav a:hover {
    color: var(--nav-background-color);
    background-color: var(--accent2-color);
}
.adventure {
    display: flex; 
    flex-direction: row; 
    left: 10%; 
    position: absolute;
    width: 85%;
    top: 105em;
    color: var(--primary-color);
    font-family: var(--heading-font); 
}
.adventure-two {
    display: flex; 
    flex-direction: row; 
    right: 20%; 
    position: relative;
    width: 10%;
    top: 8em; 
}
.one {
    position: relative;
    top: 8em; 
    right: 10%; 
}
.two {
    position: relative;
    top: 5em; 
    right: 240%; 
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 40px;
    text-decoration: none;
}
.two:hover {
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}
.adventure img {
    width: 125px;
    height: 100px;
    /*left: 80%;*/
}
.adventure-two img {
    width: 300px;
    height: 200px; 
    /*left: 80%;*/
}
footer p {
    font-family: var(--paragraph-font);
    color: #006989;
    width: 70%;
    position: relative;
    top:79.5em;
    left: 60%;
    margin-top: 60px; 
}
footer nav {
    width: 45px; 
    top: 50em;
    position: relative;
    right: 20%; 
    padding: 4px 4px; 
}
footer img {
    width: 35px; 
}
.middle-contact {
    font-family: var(--paragraph-font);
    color: #006989;
    width: 50%;
    bottom: 13em;
    left: 10%; 
    position: relative;
}
.middle-contact iframe {
    position: relative;
    width: 70%;
    left: 80%; 
    top: 8em;     
}
.adventure-contact {
    display: flex;
    width: 50%; 
    position: relative;
    bottom: 3em;
    left: 30%; 
}
.adventure-contact img {
    width: 600px;
    height: 120px;
}
.one-c {
    position: relative;
    top: 10em; 
    right: 18%;
}
label, button, input, select, text {
    font-family: var(--paragraph-font)
}
form {
    width: 600px; 
    margin: 0 auto; 
    padding: 1.5rem; 
    border: 1px solid #000; 
    background-color: aliceblue;
    display: grid; 
    position: relative;
    top: 15em;
    left: 2%;
}  
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid #000;
    padding: 1rem; 
}
legend {
    padding: .05rem;
    color: navy; 
    font-size: 1.3em; 
}
label {
    text-align: left;
    padding: 1rem;
}
input, select, textarea {
    padding: 0.5rem; 
    font-size: 1.1rem; 
}
input [type="checkbox"] {
    width: 22px; 
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem; 
    background-color: var(--primary-color);
    color: white;
    border: solid; 
    border-radius: 2rem;
    padding: .75rem;
    font-size: 1.2rem;
}
.button-t {
    margin: 4rem; 
    width: 50%; 
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: solid; 
    border-radius: 3rem;
    padding: .75rem;
    font-size: 2rem;
    position: relative;
    bottom: 7em; 
    left: 23%; 
}
.button-t:hover {
    color: var(--secondary-color);
    background-color: var(--nav-hover-link-color);
}
table {
    font-family: var(--heading-font);
    font-size: 45px;
    width: 100%;
    right: 5%; 
    position: relative;
    top: 10em; 
} 
table, th, td {    
    border: 3px dotted #006989;
    border-collapse: collapse;
    background-color: #ffffff;
    color: #57a773; 
}
table, td:hover {
    color: var(--primary-color);
    background-color: var(--accent1-color);
}
.button-h {
    margin: 3rem; 
    width: 25%;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: dotted; 
    border-radius: 3rem;
    padding: .75rem;
    font-size: 2rem;
    position: relative;
    bottom: 4em; 
    left: 70%; 
}
.button-h:hover {
    color: var(--secondary-color);
    background-color: var(--nav-hover-link-color);
}