nav {
    background-color: steelblue;
    padding: 10px; 
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: steelblue;
}
img {
    width: 150px;
    height: auto;
    border: solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0; 
}
main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: auto;
}
aside {
    width: 18rem;
    margin: 3rem;
    border: 3px solid;
    padding: 1rem; 
    background-color: #006494;
    color: #ffffff;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}